.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.handjet-regular {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

body {
    background-color: #121212;
    font-size: 40px;
}

.hidden {
    display: none;
}

#categories h5{
    width: 100%;
    text-align: center;
    color: #00BFFF;
    font-family: "Jersey 10", sans-serif;
}

#categories button {
    width: 50%;
    height: 50px;
    border: 2px solid #6809C0;
    text-align: left;
    padding-left: 15px;
    background-color: #8A2BE2;
    color: #B2F7EF;
    font-family: "Handjet", sans-serif;
    font-size: 30px;
    margin: 0 0 20px 25%;
}

#categories button:hover {
    background-color: #6809C0;
    border: 2px solid #8A2BE2;
    color: #00FF7F;
    cursor: pointer;
}

#startScreen h1 {
    margin-top: 60px;
    color: #00BFFF;
}

#startButton, #restartButton {
    width: 10%;
    height: 60px;
    margin: 50px 45%;
    background-color: #00BFFF;
    color:#FF6347;
    border: 2px solid #008CCC;
    font-family: "Jersey 10", sans-serif;
    font-size: 35px;
}

#startScreen button:hover, #endScreen button:hover, #changeCategoryButton:hover {
    background-color: #008CCC;
    border: 2px solid #00BFFF;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    color:#00BFFF;
}

#header {
    width: 50%;
    margin-left: 25%;
    display: flex;
    align-items: center;
    color: #00BFFF;
}

#message {
    width: 25%;
    display: flex;
}

#correct {
    width: 100%;
    text-align: center;
    font-family: "Handjet", sans-serif;
    color: #12b600;
}
    
#wrong {
    width: 100%;
    text-align: center;
    font-family: "Handjet", sans-serif;
    color: #FF0000;
}

#time {
    width: 50%;
    text-align: center;
    font-family: "Handjet", sans-serif;
}

#qAndA {
    width: 50%;
    margin-left: 25%;
    border: 2px solid #00BFFF;
    text-align: center;
    color:#00BFFF;
}

#question {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: #FF69B4;
    font-family: "Handjet", sans-serif;
    font-size: 30px;
}

#question h3 {
    width: 75%;
    text-align: center;
    color: #B2F7EF;
}

#question h4 {
    width: 25%;
    text-align: right;
    padding-right: 15px;
    color: #00FF7F;
}

.answer {
    width: 100%;
    height: 50px;
    border: 2px solid #6809C0;
    text-align: left;
    padding-left: 15px;
    background-color: #8A2BE2;
    color: #B2F7EF;
    font-family: "Handjet", sans-serif;
    font-size: 30px;
}

.answer:hover {
    background-color: #6809C0;
    border: 2px solid #8A2BE2;
    color: #00FF7F;
    cursor: pointer;
}

#score {
    text-align: center;
    margin-top: 40px;
    font-family: "Handjet", sans-serif;
    color:#00BFFF;
}

#finalScore, #highScore {
    text-align: center;
    margin-top: 20px;
    color:#00BFFF;
    font-family: "Handjet", sans-serif;
}

#changeCategoryButton {
    width: 12%;
    height: 60px;
    margin: 20px 44%;
    background-color: #00BFFF;
    color:#FF6347;
    border: 2px solid #008CCC;
    font-family: "Jersey 10", sans-serif;
    font-size: 30px;
}